/* https://stackoverflow.com/questions/2182716/is-it-possible-to-set-the-equivalent-of-a-src-attribute-of-an-img-tag-in-css */
body {
    background-color: lightblue;
}
.kitten {
	content: url(https://user-images.githubusercontent.com/31671266/30456982-9c93eb0c-995a-11e7-9f59-1f758c03919a.png);
	width: 100%;
}
@media only screen and (max-width: 1000px) {
	.kitten {
	content: url(https://user-images.githubusercontent.com/31671266/30456982-9c93eb0c-995a-11e7-9f59-1f758c03919a.png);
}
}
	@media only screen and (max-width: 800px) {
	.kitten {
	content: url(https://user-images.githubusercontent.com/31671266/30456977-96852f32-995a-11e7-870f-caf4dc83e52e.png);
}
@media only screen and (max-width: 600px) {
	.kitten {
	content: url(https://user-images.githubusercontent.com/31671266/30456964-8dc5ae4e-995a-11e7-845a-c75ff4be5768.png);
	}
	@media only screen and (max-width: 400px) {
	.kitten {
	content: url(https://user-images.githubusercontent.com/31671266/30456942-7b83df58-995a-11e7-94aa-53d9fd617f96.gif);
	}
}
	
